{
    "openapi": "3.0.0",
    "info": {
        "title": "Messenger backend api",
        "description": "Messenger backend",
        "contact": {
            "email": "tcom.developer@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://crypt-talk.online/api",
            "description": "Dev server"
        },
        {
            "url": "http://messenger.test/api",
            "description": "Dev server"
        }
    ],
    "paths": {
        "/admin/users": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "All users on database wwith filters and pagination",
                "operationId": "205f498a58a0c737280449f2dda574ba",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    ""
                                ],
                                "properties": {
                                    "itemsPerPage": {
                                        "type": "integer",
                                        "default": 5
                                    },
                                    "page": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "name": {
                                        "type": "string",
                                        "default": "mil"
                                    },
                                    "email": {
                                        "type": "string",
                                        "default": "mil"
                                    },
                                    "role": {
                                        "type": "string",
                                        "default": "user"
                                    },
                                    "status": {
                                        "type": "string",
                                        "default": "active"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connection Initiated"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register new user",
                "operationId": "ed42f392010c301892e640067141676e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "user name",
                                        "type": "string",
                                        "default": "newuser"
                                    },
                                    "email": {
                                        "description": "email",
                                        "type": "string",
                                        "default": "newuser@mail.com"
                                    },
                                    "password": {
                                        "description": "password",
                                        "type": "string",
                                        "default": "Secret123#"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User registered"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login user",
                "operationId": "8cb7742ae98d0990acb2907c4e00bf24",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "email",
                                        "type": "string",
                                        "default": "milos@mail.com"
                                    },
                                    "password": {
                                        "description": "password",
                                        "type": "string",
                                        "default": "milos"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Korisnik prijavljen"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/auth/whoami": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Podaci o korisniku na osnovu tokena",
                "operationId": "aa7bc66822f59c40cade93c5e4c3b41e",
                "responses": {
                    "200": {
                        "description": "Podaci o korisniku vraćeni na front"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Odjava sa sistema",
                "operationId": "0d29c740dc06d77602af8095bf4654cc",
                "responses": {
                    "200": {
                        "description": "Korisnik odjavljen iz sistema"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/connection/my-connections": {
            "get": {
                "tags": [
                    "Connection"
                ],
                "summary": "Get all connections for authenticated user",
                "operationId": "ae9d9e3875ff636c933b90638d6fb6a2",
                "responses": {
                    "200": {
                        "description": "All user connections"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/connection/requested": {
            "get": {
                "tags": [
                    "Connection"
                ],
                "summary": "Get all connection requests for authenticated user",
                "operationId": "42ff40e40f1459a4bcbddde5687c0a06",
                "responses": {
                    "200": {
                        "description": "All user requests"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/connection/initiate": {
            "post": {
                "tags": [
                    "Connection"
                ],
                "summary": "Initiate new connection",
                "operationId": "9fb490977767a4d0f9f4ae7da304f404",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "recipient_id"
                                ],
                                "properties": {
                                    "recipient_id": {
                                        "type": "integer",
                                        "default": 3
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connection Initiated"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/connection/accept": {
            "post": {
                "tags": [
                    "Connection"
                ],
                "summary": "Accept Connection",
                "operationId": "735cb7e734238cf2c0df1c96fd8818fc",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "connection_id"
                                ],
                                "properties": {
                                    "connection_id": {
                                        "type": "integer",
                                        "default": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connection accepted"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/connection/reject": {
            "post": {
                "tags": [
                    "Connection"
                ],
                "summary": "Reject Connection",
                "operationId": "c7293bdddb4b0866d7532558b788cb58",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "connection_id"
                                ],
                                "properties": {
                                    "connection_id": {
                                        "type": "integer",
                                        "default": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connection rejected"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/connection/delete": {
            "post": {
                "tags": [
                    "Connection"
                ],
                "summary": "delete Connection",
                "operationId": "c0dbece303944a9f8232173550539277",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "connection_id"
                                ],
                                "properties": {
                                    "connection_id": {
                                        "type": "integer",
                                        "default": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connection delete"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/message/conversation/{friend_id}": {
            "get": {
                "tags": [
                    "Message"
                ],
                "summary": "Get conversation with a friend",
                "operationId": "5a3c148fe2fe956f2bbbd24d8d722ae6",
                "parameters": [
                    {
                        "name": "friend_id",
                        "in": "path",
                        "description": "ID of the friend to fetch conversation with",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 3
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Conversation retrieved successfully"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/message/send": {
            "post": {
                "tags": [
                    "Message"
                ],
                "summary": "Send message",
                "operationId": "eaafca982862ddd629b2fe5ff1e0ee79",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "recipient_id"
                                ],
                                "properties": {
                                    "recipient_id": {
                                        "type": "integer",
                                        "default": 3
                                    },
                                    "content": {
                                        "type": "text",
                                        "default": "lorem ipsum"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Message sent"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/user/search": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Search user by name or email",
                "operationId": "7495095e5b6c23625c419daaa0200f1a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "search"
                                ],
                                "properties": {
                                    "search": {
                                        "description": "search string",
                                        "type": "string",
                                        "default": "user"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User registered"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/user/show/{id}": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Find user by ID",
                "operationId": "2359a38d992595bc4001f41c0b92d89d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/user/edit": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Find user by auth token",
                "operationId": "fef4feace1e1197ecf512a20eb5bf906",
                "responses": {
                    "200": {
                        "description": "User found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/user/update": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Update user data",
                "operationId": "25fa6e59311f61c2be4cca80c602dde3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "about",
                                    "avatar"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "User name",
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "about": {
                                        "description": "About user",
                                        "type": "string",
                                        "example": "Software developer from Belgrade"
                                    },
                                    "avatar": {
                                        "description": "User avatar file",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User updated"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/user/change-password": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Change user password",
                "operationId": "48fbc004e5b7e15198e50b6409fbd7ec",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "about",
                                    "avatar"
                                ],
                                "properties": {
                                    "password": {
                                        "description": "User password",
                                        "type": "string",
                                        "example": "Password123#"
                                    },
                                    "password2": {
                                        "description": "User password repeated",
                                        "type": "string",
                                        "example": "Password123#"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User updated"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Controller": {
                "format": "https"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Authorize with bearer token",
                "name": "Authorization",
                "in": "header",
                "scheme": "Bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Admin",
            "description": "Admin"
        },
        {
            "name": "Auth",
            "description": "Auth"
        },
        {
            "name": "Connection",
            "description": "Connection"
        },
        {
            "name": "Message",
            "description": "Message"
        },
        {
            "name": "User",
            "description": "User"
        }
    ]
}